apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-service
  labels:
    app: billing-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: billing-service
  template:
    metadata:
      labels:
        app: billing-service
    spec:
      containers:
        - name: billing-service
          image: <AWS_ACCOUNT_ID>.dkr.ecr.us-east-1.amazonaws.com/garage-billing-service:latest
          ports:
            - containerPort: 3002
          env:
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: billing-service-secrets
                  key: mongodb-uri
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: fiap-garage-secret
                  key: RABBITMQ_URL
            - name: MERCADOPAGO_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: billing-service-secrets
                  key: mercadopago-access-token
            - name: MERCADOPAGO_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: billing-service-secrets
                  key: mercadopago-public-key
          livenessProbe:
            httpGet:
              path: /billing/health
              port: 3002
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /billing/health
              port: 3002
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            requests:
              memory: '128Mi'
              cpu: '50m'
            limits:
              memory: '256Mi'
              cpu: '200m'
---
apiVersion: v1
kind: Service
metadata:
  name: billing-service
spec:
  selector:
    app: billing-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3002
      nodePort: 31002
  type: NodePort
